/* NAV BAR STYLES */
#nav-bar{
    background-color: #DB4C3F;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    z-index: top;    
}
.nav-icon-group{
    display: flex;
}
.nav-icon{
    color: #FFFFFF;
    font-size: 22px;    
    padding: 0px 4px;
}
.nav-icon:hover{
    background-color: #E27065;
    border-radius: 5px;
}

/* LATERAL BAR STYLES */
#lateral-bar{    
    background-color: #F7F7F7;
    position: absolute;
    bottom: 0;
    left: 0;    
    height: calc(100% - 43px);
    transition: all .2s ease;
    transform: translateX(-335px);
}
.active-lateral-bar{
    transform: translateX(0px) !important;
}
.list-menu-elem{
    list-style-type: none;    
    margin-right: 4px;
    padding: 4px 0px 4px 6px;
    transition: background-color .3s;
    display: flex;
}
.list-menu-elem:hover,
.accordion-list-elem:hover{
    background-color: white;
    border-radius: 3px;
}
#list-menu{
    padding-top: 30px;
    font-size: 16px;
    margin-bottom: 5px;
}
.menu-icon{
    margin-right: 10px;
    font-size: 18px;
}
#today-icon{
    color: #058527;

}
#inbox-icon{
    color: #246FE0;

}
#projects-text{
    font-weight: 700;
    padding-right: 170px;
}
#projects-icon::before{
    transition: transform 0.1s;
}
.rotate::before{
    transform: rotate(-90deg);    
}
#project-add{
    margin-right: 15px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 18px;
}
#project-add:hover{
    color: #058527;
}
.project-add-show{
    opacity: 1 !important;
}
#accordion-list{
    list-style-type: none;
    padding-left: 65px;
}
.accordion-list-elem{
    padding: 4px 0px 4px 6px;
    margin-right: 4px;
    min-width: 260px;
    color: #444;
}
.remove-icon{
    float: right;
    margin-right: 15px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 18px;
}
.remove-icon:hover{
    color: #E27065;
}
.remove-icon-show{
    opacity: 1 !important;
}

/* CONTAINER LIST STYLES */
#container-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: padding .2s;
}
.toggle-container{
    padding-left: 335px;
}
.circle-task{
    border: 1px solid black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.circle-task:hover{
    background-color: #444;
}